body {
    background-color: silver;
    margin: 0;
    padding: 0;
}

.navbar {
    display:flex;
    background: linear-gradient(silver, grey);
    border: solid 1pt rgb(56, 56, 56);
    justify-content: space-evenly;
    height: 55px;
    border-radius: 0px 0px 25px 0px;
}

.webtop {
    display:flex;
    background: linear-gradient(grey, silver);
    border: solid  1pt rgb(56, 56, 56);
    height: 60px;
}

.title {
    font-size: 25px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 15px;
    color: blue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

a {
    text-decoration: none;
}

#search {
    justify-content: center;
    width: 80%;
}

.navoptions {
    margin-top: 15px;
}

.navoptions:link {
    color: blue;
}

.navoptions:visited {
    color: white;
    transition: 3s;
}

.navoptions:hover, .footlink:hover {
    color: red;
    transition: 1s;
}

.reviews {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(140, 122, 194), rgb(202, 183, 183));
    border: solid 1pt rgb(110, 106, 106);
    border-radius: 25px 25px 25px 25px;
    margin: 0 20% 0 20%;
    padding: 0% 5% 5% 5%;
}

#reviewbox {
    width: 60%;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 70px;
}

#submitreview {
    width: 10%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    margin-top: 5%;
}

.consoleselection {
    display: flex;
    justify-content: center;
}

table {
    border: solid 2pt black;
    border-collapse: collapse;
    margin: 5% 0 0 0;
    background: linear-gradient(grey, silver);
}

th {
    border: solid 2pt black;
}
td {
    border: solid 2pt;
}

.consolepage {
    background-image: url(images/background.jpeg);
    background-size: cover;
}

.checkout {
    display:flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 16%;
}

.checkoutimage {
    background: linear-gradient(silver, rgb(126, 109, 158));
    border: 1px solid grey;
    padding: 20px 20px 20px 20px;
}

.checkoutbox {
    background: linear-gradient(silver, rgb(126, 109, 158));
    border: 1px solid grey;
    margin: 0 20px 0 20px;
    padding: 0 20px 0 20px;
}

#checkbutton {
    margin-top: 55%;
    width: 180px;
}

.footlink {
    color: blue;
    transition: 3s;
}

.rectangle {
    display:flex;
    margin-left: 10%;
    width: 480px;
    height: 240px;
    border: solid rgb(255, 0, 0);
    transition: width 3s, height 3s;
}

@keyframes borderbow {
    0% {
        border: solid red;
    }
    12.5% {
        border: solid orange;
    }
    25% {
        border: solid yellow;
    }
    37.5% {
        border: solid yellowgreen;
    }
    50% {
        border: solid green;
    }
    62.5% {
        border: solid blue;
    }
    75% {
        border: solid purple;
    }
    87.5% {
        border: solid indigo;
    }
    100% {
        border: solid red;
    }
}

.rectangle:hover {
    animation: borderbow 5s linear infinite;
    width: 900px;
    height: 450px;
}

.descnprice, .thankyou {
    border: solid 1pt grey;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(rgb(126, 109, 158), silver);
    padding: 0 25px 0 25px;
}
